---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*, *:after, *::before{
		margin: 0;
		box-sizing: border-box;
	}

	:root{
		--color-medium-gray: #DDDDDD;
		--color-green: #059A0B;
		--color-gray: #282828;
		--color-teal: #43D1E6;
		--color-purple: #AF9AF8;
		--color-blueish: #BEE0FF;
		--color-subtle-grayish: #EEEEEE;
		--color-subtle-gray: #F2F2F2;
		--color-grapefruit: #FD7768;
		--color-yellow: #FFD02F;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--color-subtle-gray);
		color: #282828;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
